<div class='container px-5 px-sm-0'>
    <h1>イラスト投稿</h1>
    <% if @art.errors.any? %>
        <p>投稿情報を入力してください。</p>
        <ul>
            <% @art.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    <% end %>
    <%= form_with model: @art, url: arts_path do |f| %>

    <!--画像投稿-->
    <%= f.file_field :image, accept: "image/*" %><br>
    
    
    <!--タイトル-->
    <%= f.text_field :title, rows: '5', placeholder: "タイトル"%><br>

    <!--説明-->
    <%= f.text_area :body, rows: '5', placeholder: "説明文"%><br>

    <%= f.submit '投稿' %>
<% end %>
</div>